#mainContent {
    padding-left: 10px;
    padding-right: 10px;
}

#mainContent > div {
    background-color: #f8f8f8;
    padding-bottom: 20px;
}

#mainContent > div:nth-child(2n) {
    background-color: #f2f2f2;
}

h4 {
    padding-top: 20px
}

#tactilePattern {
    max-width: 250px;
}

#WASDpresenter {
    width:180px;
    margin: 0 auto;
    margin-top:25px;
}

#WASDpresenter > div > div {
    height: 50px;
    width: 50px;
    margin:5px;
}

.key {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 12pt;
    vertical-align: middle;
    line-height: 50px;
    background: gray;
}